<div class="m-2 p-2
            flex flex-col
            border-2 rounded-xl
            w-[min(900px,calc(100%-3rem))]">
    <p class="text-xl">
        <%= message.body %>
    </p>
    <p class="text-gray-600 self-end text-sm">
        <%= message.username %>
    </p>
    <p class="self-end text-sm">
        <%= message.added.toLocaleString(undefined, dateOptions);%> UTC
    </p>
</div>