<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New!</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="grid place-items-center">
    <form class="p-10 w-full" method="post" action="/new">
        <div class="flex flex-row p-2">
            <label for="textInput" class="p-1">Message : </label>
            <textarea type="text" id="textInput" name="text" placeholder="enter message text" class="min-w-80 min-h-10 h-3/4 focus:outline-none border-b-2 border-r-2"></textarea>
        </div>
        <div class="flex p-2">
            <label for="userInput" class="p-1">User : </label>
            <input type="text" id="userInput" name="user" placeholder="enter your name" class="focus:outline-none border-b-2 h-full self-center">
        </div>
        <div class="p-2 flex flex-row">
            <input class="bg-amber-300
                          flex justify-center items-center
                          w-max p-2 rounded-md
                          hover:shadow-md hover:shadow-gray-500
                          duration-250"
            type="submit" value="Add Message">
            <a class="bg-amber-300
            flex justify-center items-center
            w-max p-2 ml-2 rounded-md
            hover:shadow-md hover:shadow-gray-500
            duration-250" href="/"> Go Back </a>
        </div>
    </form>
</body>
</html>